/* Universal selector */
* {
  margin: 0;
  padding: 0;
}

/* Body Section */
body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
}

/* Main Header */
.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
}

/* Heading Section */
h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-align: center;
}

/* Paragraph Section */
p {
  font-size: 22px;
  line-height: 1.5;
}

/* List section*/
li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* CopyRight */
#copyright {
  font-size: 16px;
}

/* Autor Section  */
#author {
  font-size: 18px;
  font-style: italic;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

/* Related Posts */
aside {
  background-color: #f7f7f7;
  border-top: #1098ad solid 5px;
  border-bottom: #1098ad solid 5px;
}

/* Styling HyperLinks */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  color: orangered;
  text-decoration: underline dotted orangered;
}

a:active {
  background-color: #444;
  font-style: italic;
}
