/* Universal selector */
* {
  margin: 0;
  padding: 0;
}

/* Body Section */
body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
  position: relative;
}

button {
  font-size: 22px;
  padding: 20px;
  margin: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Container */
.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Main Header */
.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 50px;
  height: 80px;
}

.post-header {
  margin-bottom: 40px;
}

/* Heading Section */
h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h2::after {
  content: "Top";
  font-size: 15px;
  background-color: #ffe70e;
  position: absolute;
  display: inline-block;
  font-weight: bold;
  padding: 5px 10px;
  color: #444;
  right: -25px;
  top: -10px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-align: center;
}

/* Paragraph Section */
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* List section*/

ul,
ol {
  margin-bottom: 20px;
  margin-left: 50px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* CopyRight */
#copyright {
  font-size: 16px;
}

/* Autor Section  */
#author {
  font-size: 18px;
  font-style: italic;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

/* Related Posts */
.related-posts {
  background-color: #f7f7f7;
  border-top: #1098ad solid 5px;
  border-bottom: #1098ad solid 5px;
  padding: 50px 0;
  margin-left: 0;
  margin-right: 50px;
}

/* Styling HyperLinks */
a:link {
  color: #1098ad;
  text-decoration: none;
  margin-right: 30px;
}

a:visited {
  color: purple;
}

a:hover {
  color: orangered;
  text-decoration: underline dotted orangered;
}

a:active {
  background-color: #444;
  font-style: italic;
}

.post-img {
  width: 100%;
  height: auto;
}
